<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <!--TODO I think we have something wrong with our JS, which is causing it to not create separate cards-->
    <h1>THIS IS DETAIL.EJS</h1>
    <div class="card">
        <ul>
            <%  for (var book of books) {%>
            <li><img src="<%= book.thumbnail  %>"> </li> 
            <li class="capTitle"><%= book.title  %> </li>
            <li class="nameClass"><%= book.author  %> </li>
            <li class="descripClass"><%= book.book_description  %> </li>
            <li class="lastOne"><%= book.isbn  %> </li>
            <div id="editTemplate">
                <%- include('../../layout/edit') %>
            </div>
            
            <form >
                <!-- method="get" action="/update" -->
                <input type="hidden" name="title" value="<%=book.title%>"> 
                <input type="hidden" name="author" value="<%=book.author%>"> 
                <input type="hidden" name="book_description" value="<%=book.book_description%>"> 
                <input type="hidden" name="isbn" value="<%=book.isbn%>"> 
                <button id="detailsButton" type="submit">Update Book</button>
            </form>

            <% } %>

            <a href="/">Go Home</a>
        </ul>
    </div>

    <script
    src="http://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
</script>
<script>
    let $button = $('#detailsButton');
        $button.on('click', hideFunction(e)
    );

    function hideFunction(e){
        e.preventDefault();
        console.log('I am working ------------------------');
        $('#editTemplate').toggle();
    }
</script>
</body>
</html>