<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <!--TODO I think we have something wrong with our JS, which is causing it to not create separate cards-->
    <h1>THIS IS SHOW.EJS</h1>
    <div class="card">
        <ul>
            <%  for (var book of books) {%>
            <li><img src="<%= book.thumbnail  %>"> </li> 
            <li class="capTitle"><%= book.title  %> </li>
            <li class="nameClass"><%= book.author  %> </li>
            <li class="descripClass"><%= book.book_description  %> </li>

            <li class="lastOne">ISBN: <%= book.isbn  %> </li> 
            <form method="post" action="/addBook">

                <input type="hidden" name="thumbnail" value="<%=book.thumbnail%>"> 
                <input type="hidden" name="title" value="<%=book.title%>"> 
                <input type="hidden" name="author" value="<%=book.author%>"> 
                <input type="hidden" name="book_description" value="<%=book.book_description%>"> 
                <input type="hidden" name="isbn" value="<%=book.isbn%>"> 
                <button type="submit">Click to Save Book</button>
            </form>
            <% } %>
        </ul>
    </div>
</body>
</html>
<!-- 

function addTask(request, response) {
  console.log(request.body);
  let { title, description, category, contact, status } = request.body;
  let SQL = 'INSERT INTO tasks(title, description, category, contact, status) VALUES ($1, $2, $3, $4, $5);';
  let values = [title, description, category, contact, status];
  return client.query(SQL, values)
    .then(response.redirect('/'))
    .catch(err => handleError(err, response));
}









<body>
    <main>
      <section>
        <form method="post">
          <fieldset>
            <legend>Add a Task</legend>
            <input type="text" name="title" placeholder="Name of Task">
            <textarea type="text" name="description" placeholder="Description of Task"></textarea>
            <input type="hidden" name="status" value="not done">
            <button type="submit">Add this task</button>
          </fieldset>
        </form>
      </section>
    </main>
  </body> -->