<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head') %>
</head>
<body>
    <header>
        <%- include('../layout/header') %>
    </header>

<!-----------------MAIN--------------------->

<main>
    <section id="book-template">
        <h2>This is the Index Page</h2>
        <img src="" alt="" title="">
        <div id ="test-render-section">
            <%  for (var book of books) {%>
                <li><img src="<%= book.thumbnail  %>"> </li> 
                <li class="capTitle"><%= book.title  %> </li>
                <li class="nameClass"><%= book.author  %> </li>
                <li class="descripClass"><%= book.book_description  %> </li>
                <li class="lastOne">ISBN: <%= book.isbn  %> </li> 

                <form method="GET" action="/books/<%=book.id%>">
                
                <button>View Details</button>
                </form>
                <% } %>

            </div> 
        <h3></h3>
    </section>
    <section id="target"></section>
</main>


<!-----------------FOOTER--------------------->
    <footer>
        <script src="public/js/app.js"></script>
        <div class="greyBall"></div>
        <div class="greyBall"></div>
        <div class="greyBall"></div>
        <div class="greyBall"></div>
    </footer>
</body>
</html>